 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap'); */


body {
    background-color: #eee;
    font-family: 'Source Sans Pro';
}

nav {
    color: #777;
    /* display: inline-block; */
    padding-right: 6px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav li {
    display: inline-block;
    margin: 0.25em;
    font-size: 13px;

}

nav ul {
    list-style-type: none;
    /* margin: 0.25em; */
}

a {
    text-decoration: none;
    color: #777;
}

.newspaper-container {
    background-color: #eee;
    width: 700px;
    margin: auto;
}

header h1 {
    text-align: center;
}

main h2 {
    font-family: 'Courier New', Courier, monospace;
}

main h5 {
    font-family: 'Abril Faface';

}

.more-articles section {
    display: inline-block;
    width: 40%;
    margin: 0 1em;
}